body{
    font-family: raleway, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #06062E;
    margin: 20px;
}
h1, h2{
    color:  #13EAF8;
    font-weight: 900;
    font-size: 24px;
}
h3{
    font-size: 20px;
    font-weight: 600;
}
h1 {
    font-size: 48px;
    margin-bottom: 10px;
}
main {
    margin-left: 250px;
}
div.section {
    padding-bottom: 50px;
}
div.extralight {
    font-weight: 200;
}
div.semibold {
    font-weight: 600;
}
div.black {
    font-weight: 900;
}
div.italic {
    font-style: italic;
}
div.wide {
    letter-spacing: .3em;
}
div.narrow {
    letter-spacing: -.1em;
}
div.underline {
    text-decoration: underline;
}
div.overline {
    text-decoration: overline;
}
div.linethrough {
    text-decoration: line-through;
}
div.uppercase {
    text-transform: uppercase;
}
div.lowercase {
    text-transform: lowercase;
}
div.capitalize {
    text-transform: capitalize;
}