body{
    font-family: schwager-sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #13EAF8;
    background-color: #06062E;
}
h1, h2{
    padding-left: 10px;
    margin: 0px;
}
h1{
    font-weight: 700;
}
div.Projects {
    display: flex;
	flex-direction: row;
}
div{
    margin: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
div.section1, div.section2, div.section3{
    background-color: white;
}
@media screen and (max-width: 700px) {
    div.Projects{
        flex-direction: column;
    }
}
span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1E1C66;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1E1C66;
}
p.venkman{
    color: #F801EE;
}
p.stantz{
    color: #13EAF8;
}
p.barrett{
    color: #13EAF8;
}
p.mayor{
    color: #c4c4c4;
}
p.zeddemore{
    color: #9B0895;
}
p.spengler{
    color: #1510FF;
}
